body {
  width: 95%;
  min-height: 95vh;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #222222;
}

.container {
  width: 90%;
  min-height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  background-color: rgba(255, 255, 255, 0.1);
  width: 100%;
  height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
}

form {
  margin-right: 24px;
}

.search {
  margin-left: 24px;
}

.app {
  margin-top: 36px;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.1);
  width: 100%;
  min-height: 40vh;
}

li {
  list-style: none;
  width: 90%;
  border-radius: 0.5rem;
  margin: 24px auto;
  line-height: 3rem;
  background: rgba(255, 255, 255, 0.2);
  padding: 16px;
}

h2 {
  display: inline;
}

.delete {
  display: inline;
}
