body {
  width: 95%;
  min-height: 95vh;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #0071F2;
  color: black;
}

.container {
  width: 90%;
  min-height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  background-color: #F5FAFFAA;
  width: 100%;
  height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
}

form {
  margin-right: 24px;
}

.search {
  margin-left: 24px;
}

.app {
  margin-top: 36px;
  background-color: #F5FAFFAA;
  width: 100%;
  min-height: 40vh;
  border-radius: 0.5rem;
}

li {
  list-style: none;
  width: 90%;
  border-radius: 0.5rem;
  line-height: 3rem;
  margin-top: 16px;
  background-color: #F5FAFF;
  padding: 16px;
  min-height: 48px;
}

li * {
  display: inline;
}

.rightSide {
  float: right;
}

.leftSide {
  float: left;
  display: inline;
}

.time {
  color: black;
  font-size: 12px;
  margin-right: 8px;
}
